<div class="col-sm-3 text-center">
  <h2><%= @cocktail.name %></h2>
  <% if @cocktail.photo %>
    <%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1536935338788-846bb9981813?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1286&q=80" %>
  <% end %>
</div>
<div class="col-sm-3 p-4 text-center">
  <h4>List of ingredients</h4>
  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item"><%= dose.description %>:<%= dose.ingredient.name %></li>
      <%= link_to cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_dose"></i>
      <%end%>
    <%end%>
  </ul>
<div>

<%= link_to "Back to list", cocktails_path %>
<br>
<%= link_to "Edit", edit_cocktail_path %>
<br>
<%= link_to 'Add new dose', new_cocktail_dose_path(@cocktail) %>
